<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login</title>

</head>

<body>

    <main>

        <section>

            <div>

                <h1>
                    Sistema de Facturación e Inventario
                </h1>

                <p>
                    Iniciar Sesión
                </p>

            </div>

            <form>

                <div>

                    <label>
                        Correo Electrónico
                    </label>

                    <input type="email"
                           placeholder="Ingrese su correo">

                </div>

                <div>

                    <label>
                        Contraseña
                    </label>

                    <input type="password"
                           placeholder="Ingrese su contraseña">

                </div>

                <div>

                    <input type="checkbox">

                    <span>
                        Recordarme
                    </span>

                </div>

                <button type="submit">

                    Ingresar

                </button>

            </form>

            <div>

                <a href="register.html">
                    Crear cuenta
                </a>

            </div>

        </section>

    </main>

</body>

</html>