<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Registro</title>

</head>

<body>

    <main>

        <section>

            <div>

                <h1>
                    Sistema de Facturación e inventario
                </h1>

                <p>
                    Crear Cuenta
                </p>

            </div>

            <form>

                <div>

                    <label>
                        Nombre Completo
                    </label>

                    <input type="text"
                           placeholder="Ingrese su nombre">

                </div>

                <div>

                    <label>
                        Correo Electrónico
                    </label>

                    <input type="email"
                           placeholder="Ingrese su correo">

                </div>

                <div>

                    <label>
                        Contraseña
                    </label>

                    <input type="password"
                           placeholder="Ingrese contraseña">

                </div>

                <div>

                    <label>
                        Confirmar Contraseña
                    </label>

                    <input type="password"
                           placeholder="Confirmar contraseña">

                </div>

                <button type="submit">

                    Registrarse

                </button>

            </form>

            <div>

                <a href="login.html">
                    Ya tengo cuenta
                </a>

            </div>

        </section>

    </main>

</body>

</html>